<table cellspacing="10px;">
  <tr>
    <td>
      <table>
        <tr>
          <td>総括コメント</td>
        </tr>
        <tr>
          <td>
            <textarea id="summary_comment" class="ime_on" rows="6" style="width:400px;"></textarea>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td>上司コメント</td>
        </tr>
        <tr>
          <td>
            <textarea id="superior_comment" rows="6" readonly tabindex="-1" style="width:400px;"></textarea>
          </td>
        </tr>
      </table>
    </td>
    <td style="vertical-align:middle;">
      <input type="button" id="summary_register_button" class="submit" value="登録" />
    </td>
  </tr>
  <tr>
    <td>
      <table style="width:100%;">
        <tr>
          <td style="width:80px;">活動時間計</td>
          <td style="width:80px;" align="right"><span id="summary_total_time" />&nbsp;時間</td>
          <td style="width:10px;">&nbsp;</td>
          <td style="width:80px;">売上金額計</td>
          <td style="width:80px;" align="right"><span id="summary_total_sales"/>&nbsp;円
        </tr>
      </table>
    </td>
    <td colspan="2">&nbsp;</td>
  </tr>  
</table>
<input type="hidden" id="summary_authenticity_token" value="<%=form_authenticity_token %>" />
<script type="text/javascript">
  <!--
    $("#summary_register_button").click(
      function(){
        var comment = $("#summary_comment").val();
        var superior_comment = $("#superior_comment").val();
        var authenticity_token = $("#authenticity_token").val();
        var report_date = $("#input_report_date").val();
        jQuery.ajax(
          {
            type : "POST",
            url  : "/report/main/register_summary",
            data :
              "cmt=" + comment + "&s_cmt=" + superior_comment + "&d=" + report_date + "&authenticity_token=" + authenticity_token,
            success :
              function(data, dataType){
                alert("登録しました");
              },
            error :
              function(){
                alert("通信エラー")
              },
            complete :
              function(){}
          }
        );
      }
    );

    $(document).ready(
      function(){
        $("#summary_total_time").html($("#tmp_report_total_time").val());
        $("#summary_total_sales").html($("#tmp_report_total_sales").val());
        get_summary_comment();
      }
    );
  //-->
</script>
