<table>
  <tr>
    <td>タイトル</td>
    <td>
      <%= text_field :d_bookmark_category, :title %>
    </td>
  </tr>
  <tr>
    <td>備考</td>
    <td>
      <%= text_area :d_bookmark_category, :memo, :rows=>5, :cols=>30 %>
    </td>
  </tr>
</table>