<table style="width:100%;">
  <tr>
    <td style="text-align:left;"></td>
    <td style="text-align:right;">
      <input type="button" class="submit_large" onClick="ClickBackToMasterList();" value="マスタ一覧へ戻る" />
    </td>
  </tr>
</table>
<!-- 全お知らせボードを表示 -->
<table style="width:100%;">
  <tr>
    <td style="width:100%;" colspan=2>
      <%= render :partial=>"all_notice_board" %>
    </td>
  </tr>
</table>
