<% #JavaScriptライブラリ＆JSファイルを<HEAD>で読み込ませる %>
<% content_for(:add_scripts) do -%>
  <%= javascript_include_tag([
      "jquery/treeview/jquery.treeview.js",
      "jquery/mbTabset/mbTabset.js",
      "app/master"
    ]) %>
<% end -%>
<% #StyleSheet(CSS)ファイルを<HEAD>で読み込ませる %>
<% content_for(:add_styles) do -%>
  <%= stylesheet_link_tag([
      "jquery/treeview/jquery.treeview.css",
      "jquery/mbTabset/mbTabset.css",
      "app/master"
    ]) %>
<% end -%>

<!-- エラー(お知らせ編集) -->
<% err = flash[:notice_board_err_msg] %>
<% if !err.nil? && err != "" %>
  <table style="margin:10px 0px 0px 10px;">
    <tr style="color:red;">
      <td><%= err %></td>
    </tr>
  </table>
<% end %>
<table style="width:1000px;">
  <tr>
    <td>
      <div style="padding:5px;">
        <div class="tabset" id="tabset">
          <ul>
            <li><a href="/master/notice/master_tab">共通</a></li>
            <li><a href="/master/notice/board_tab">お知らせ編集</a></li>
          </ul>
        </div>
      </div>
    </td>
  </tr>
</table>

<script type="text/javascript">
  <!--
    var tabs = new Array();
    $(document).ready(
      function(){
        $("#tabset").tabs();
        $("#tabset").find("ul").attr("class", "ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-corner-all");

        // タブの枠線を描く
        cls = "ui-widget-content ui-corner-bottom mbTabsetContainer";
        hide = " ui-tabs-hide";
        elements = $("#tabset").find("ul").find("a");
        key_string = "ui-tabs-";

        for(i=0; i<elements.length; i++){
          // ”ui-tabs-"を含む要素を取り出す。
          if(String(elements[i]).search(key_string) > 0){
            str = "#" + String(elements[i]).substring(String(elements[i]).search(key_string));
            tabs[tabs.length] = str;
          }
        }

        for(i=0; i<tabs.length; i++){
          if(i!=0){
            cls += hide;
          }
          $(tabs[i]).attr("class", cls);
        }
      }
    );
  //-->
</script>
