<div id="" class="gadget_title" style="">
  <h3 style=""><img src="/images/icons/icon_blog.gif" align="top" style="margin-right:5px;"><%= @gadget_title %></h3>
</div>
<!-- 設定データ取得 -->
<% new_icon_days = 5 %>
<% if !@cabinet_setting.nil? %>
  <% new_icon_days = @cabinet_setting.new_icon_days %>
<% end %>
<div id="" class="gadget_body" style="">
  <table cellpadding="0" cellspacing="0" style="width:100%;">
    <% if !@beginnig_of_month_list.nil? %>
      <tr>
        <td>
          <!-- newアイコン -->
          <% if @beginnig_of_month_list.post_date.to_date >= (Date.today - new_icon_days) %>
            <img src="/images/icons/icon_balloon_new.gif" align="top" class="gadget_table_icon">
          <% else %>
            <img src="/images/icons/icon_balloon.gif" align="top" class="gadget_table_icon">
          <% end %>
          <%= link_to cut_off("#{@beginnig_of_month_list.title}<#{datetime_strftime(@beginnig_of_month_list.post_date)}>", 50),
             {:controller => "/cabinet/public",
              :action => "index",
              :auto =>"1_4_" + @beginnig_of_month_list.id.to_s} %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
