<% #JavaScriptライブラリ＆JSファイルを<HEAD>で読み込ませる %>
<% content_for(:add_scripts) do -%>
  <%= javascript_include_tag([
      "app/home"
    ]) %>
<% end -%>
<% #StyleSheet(CSS)ファイルを<HEAD>で読み込ませる %>
<% content_for(:add_styles) do -%>
  <%= stylesheet_link_tag([
      "app/home",
      "pagenate.css"
    ]) %>
<% end -%>

<div id="home_left">
  <!-- 月初メッセージ -->
  <div id="home_top_month" class="gadget_short"></div>
  <!-- DI情報 -->
  <div id="home_top_di" class="gadget_short"></div>
  <!-- 人事情報 -->
  <div id="home_top_jinji" class="gadget_short"></div>
  <!-- 慶弔情報 -->
  <div id="home_top_keityou" class="gadget_short"></div>
</div>

<div id="home_right">
  <div id="home_top_notice" class="gadget_long"></div>

  <div id="home_top_eigyohonbu" class="gadget_short" style="width:320px;float:left;"></div>

  <div id="home_top_kanrihonbu" class="gadget_short" style="width:320px;float:right;"></div>

  <div id="home_top_kbn99" class="gadget_long" style="float:left;"></div>

  <div id="home_top_cabinet" class="gadget_long" style="float:left;"></div>

  <div id="home_top_blog" class="gadget_long" style="float:left;"></div>
</div>

<script>
  $(document).ready(function(){
    $("#home_top_month").load("/home/top/gadget_beginnig_of_month");
    $("#home_top_di").load("/home/top/gadget_notice?top_disp_kbn=3");
    $("#home_top_jinji").load("/home/top/gadget_notice?top_disp_kbn=4");
    $("#home_top_keityou").load("/home/top/gadget_notice?top_disp_kbn=5");
    $("#home_top_notice").load("/home/top/gadget_notice?top_disp_kbn=0");
    $("#home_top_eigyohonbu").load("/home/top/gadget_notice?top_disp_kbn=1");
    $("#home_top_kanrihonbu").load("/home/top/gadget_notice?top_disp_kbn=2");
    $("#home_top_kbn99").load("/home/top/gadget_kbn99");
    $("#home_top_cabinet").load("/home/top/gadget_cabinet_long")
    $("#home_top_blog").load("/home/top/gadget_blog_long");
  });
</script>
