<!-- 「掲示板タブ」 -->

<div id="bbs">
</div>

<script type="text/javascript">
  <!--
    $(document).ready(
      function(){
	    url = "/bbs/main/board_list";
		$("#bbs").load(url);
      }
    );
  //-->
</script>
