<%# 新着の投稿記事 %>
<div class="gadget_title">
  <h3 style=""><%= image_tag("icons/icon_freetalk.gif", :align => "top", :style => "margin-right:5px;") %>新着の投稿記事</h3>
</div>
<div style="padding:5px 0px 0px 5px;">
  <% @newly_list.each do |newly| %>
    <p style="margin:0px 0px 5px 0px;">
      ・<%= link_to_remote cut_off(newly.body, 30),
                        :update=>"right_pane",
                        :url=>{:action=>:comment_pane,
                               :board_id=>newly.d_bbs_board_id,
                               :thread_id=>newly.d_bbs_thread_id}
        %>
　　　 <br />
    (<%= formatMD(newly.post_date) %>:<%= cut_off(newly.d_bbs_thread.d_bbs_board.title, 8) %>)
    </p>
  <% end %>
</div>
