<!-- JavaScriptライブラリ＆JSファイルを<HEAD>で読み込ませる -->
<% content_for(:add_scripts) do -%>
  <%= javascript_include_tag([
      "jquery/blockUI/jquery.blockUI.js",
      "jquery/tooltip/jquery.tooltip.js",
      "jquery/timer/jquery.timer.js",
      "app/schedule"
    ]) %>
<% end -%>
<!-- StyleSheet(CSS)ファイルを<HEAD>で読み込ませる -->
<% content_for(:add_styles) do -%>
  <%= stylesheet_link_tag([
      "jquery/tooltip/jquery.tooltip.css",
      "app/schedule"
    ]) %>
<% end -%>

<div id="input_area">
<% form_for :reserve, :url => { :action => "create" }, :html => {:id => "form_reserve", :method => :post} do |f| %>
  <table style="width: 700px;">
    <tr>
      <td style="width: 640px;"></td>
      <td style="width: 30px;">
        <input id="schedule_new" type="submit" class="submit_small" value="登録" onclick="return ClickNewButton()" />
      </td>
      <td style="width: 30px;">
        <input id="schedule_cancel" type="submit" class="submit_small" value="戻る" onclick="ClickCancelButton()" />
      </td>
    </tr>
    <tr>
      <td colspan="3" style="width: 700px;">
        <input type="hidden" id="reserve_id" name="reserve_id" value=0 />
        <!-- 入力フォーム -->
        <%= render :partial => 'input_table' %>
      </td>
    </tr>
    <tr>
      <td style="width: 640px;"></td>
      <td style="width: 30px;">
        <input id="schedule_new" type="submit" class="submit_small" value="登録" onclick="return ClickNewButton()" />
      </td>
      <td style="width: 30px;">
        <input id="schedule_cancel" type="submit" class="submit_small" value="戻る" onclick="ClickCancelButton()" />
      </td>
    </tr>
  </table>
</div>
<% end %>

<script type="text/javascript">
<!--
  /*
   * 登録
   */
  function ClickNewButton(){
    //確認ダイアログ
    if (!confirm("登録してよろしいですか？")) {
      return false;
    }
    //入力チェック
    result = CheckValidate();
    if (!result) {
      return result;
    }
    //ボタンモード
    $("#select_button").val(0);
    //処理中メッセージを表示
    LoadBlockUi();
  }

  /*
   * 中止
   */
  function ClickCancelButton(){
    $("#select_button").val(99);
  }
-->
</script>
