<input type="hidden" id="success_master" value="<%= @result %>" />
<table style="width:100%;">
  <tr>
    <td style="text-align:left;"><font style="font-weight:bold;">共通</font></td>
    <td style="text-align:right;">
      <input type="button" class="submit_large" onClick="ClickBackToMasterList();" value="マスタ一覧へ戻る" />
    </td>
  </tr>
  <tr>
    <td style="width:650px;">
      <table class="master_table2" style="width:650px;">
        <tr>
          <td class="master_table2_title" style="width:40%;">NEWアイコン表示期間(トップページ)</td>
          <td class="master_table2_content" style="width:60%;">
            <%= hidden_field :m_bbs_settings, :new_icon_days, :size=>3, :maxlength=>3 %>
            <select id="select_new_icon_days">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>日
          </td>
        </tr>
        <tr>
          <td class="master_table2_title">頁最大表示件数(掲示板)</td>
          <td class="master_table2_content">
            <%= hidden_field :m_bbs_settings, :page_max_count, :size=>3, :maxlength=>3 %>
          <select id="select_page_max_count">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
            </select>件
          </td>
        </tr>
      </table>
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td style="text-align:right;width:650px;">
      <input type="submit" class="submit_small" value="登録" />
    </td>
    <td>&nbsp;</td>
  </tr>
</table>

<script type="text/javascript">
  <!--
    /*
     * 画面ロード時に実行されるイベント
     */
    $(document).ready(
      function(){
        if($("#success_master").val() == "1"){
          alert("登録が完了しました。");
        }

        new_icon_days = $("#m_bbs_settings_new_icon_days").val();
        condition = "option[value='" + new_icon_days + "']";
        $("#select_new_icon_days").children(condition).attr("selected", true);

        page_max_count = $("#m_bbs_settings_page_max_count").val();
        condition = "option[value='" + page_max_count + "']";
        $("#select_page_max_count").children(condition).attr("selected", true);
      }
    );

    /*
     * 「NEWアイコン表示期間」セレクトボックスの項目を選択したときに実行されるイベント
     */
    $("#select_new_icon_days").change(
      function(){
        $("#m_bbs_settings_new_icon_days").val($(this).val());
      }
    );

    /*
     * 「頁最大表示件数」セレクトボックスの項目を選択したときに実行されるイベント
     */
    $("#select_page_max_count").change(
      function(){
        $("#m_bbs_settings_page_max_count").val($(this).val());
      }
    );
  //-->
</script>
