<table style="width:100%;text-align:left;">
  <tr>
    <td colspan=3><h4>【対象キャビネットの選択】</h4></td>
  </tr>
  <!-- タイトル -->
  <tr>
    <td style="width:33%;">1階層目</td>
    <td style="width:33%;">2階層目</td>
    <td style="width:33%;">3階層目</td>
  </tr>
  <!-- 内容 -->
  <tr>
    <!-- 1階層目 -->
    <td>
      <div id="first_cabinet">
        <% options = "" %>
        <% if !@first_cabinet_list.nil? %>
          <% @first_cabinet_list.each do |data|%>
            <% options += "<option value=#{data.d_cabinet_head_id} >#{data.title}</options>" %>
          <% end %>
        <% end %>
        <%= select_tag('decided_first_cabinet', options, :size=>5, :multiple=>false, :style=>'width:300px;', :onchange=>'ClickFirstCabinet();') %>
      </div>
    </td>
    <!-- 2階層目 -->
    <td>
      <div id="second_cabinet">
        <%= select_tag('decided_second_cabinet', '', :size=>5, :multiple=>false, :style=>'width:300px;', :onchange=>'ClickSecondCabinet();') %>
      </div>
    </td>
    <!-- 3階層目 -->
    <td>
      <div id="third_cabinet">
        <%= select_tag('decided_third_cabinet', '', :size=>5, :multiple=>false, :style=>'width:300px;') %>
      </div>
    </td>
  </tr>
  <!-- 選択ボタン -->
  <tr>
    <td>
      <input type="button" id="first_select" name="first_select" value="選択" class="submit_small" onclick="return ClickEditCabinetSelect(1);">
    </td>
    <td>
      <input type="button" id="second_select" name="second_select" value="選択" class="submit_small" onclick="return ClickEditCabinetSelect(2);">
    </td>
    <td>
      <input type="button" id="third_select" name="third_select" value="選択" class="submit_small" onclick="return ClickEditCabinetSelect(3);">
    </td>
  </tr>
</table>
<br>
<hr style="clear:both;" />
<br>
<!-- 編集エリア -->
<table style="width:100%;">
  <tr>
    <td>
      <%= form_tag({:action=>'save_company_cabinet'}) %>
        <div id="edit_company_cabinet"></div>
        <input type="hidden" id="parent_id" name="parent_id">
      </form>
    </td>
  </tr>
</table>

<script type="text/javascript">
<!--
/*
 * 1階層目クリック時の処理
 */
function ClickFirstCabinet(){
  //2階層目を表示
  $.ajax({
    type: 'get',
    url: base_uri + '/master/cabinet/company_cabinet_list?parent_id=' + $("#decided_first_cabinet").val() + '&target_level=2',
    success:
      function(request){
        //2階層目にデータ表示
        $('#second_cabinet').html(request);
      }
  });
}

/*
 * 2階層目クリック時の処理
 */
function ClickSecondCabinet(){
  //3階層目を表示
  $.ajax({
    type: 'get',
    url: base_uri + '/master/cabinet/company_cabinet_list?parent_id=' + $("#decided_second_cabinet").val() + '&target_level=3',
    success:
      function(request){
        //3階層目にデータ表示
        $('#third_cabinet').html(request);
      }
  });
}

/*
 * 編集キャビネットの選択ボタンクリック時の処理
 */
function ClickEditCabinetSelect(select_level){
  //選択された階層により親IDを判断する
  var parent_id = 0;
  if (select_level == 1) {
    parent_id = 0;
  } else if (select_level == 2) {
    parent_id = $("#decided_first_cabinet").val();
  } else if (select_level == 3) {
    parent_id = $("#decided_second_cabinet").val();
  }

  //選択チェック(親IDが選択されていない場合エラー)
  if (parent_id == null) {
    alert((select_level-1) + "階層目のキャビネットを選択してください。");
    return;
  }

  //hiddenに格納
  $("#parent_id").val(parent_id);

  //編集エリアを表示
  $.ajax({
    type: 'get',
    url: base_uri + '/master/cabinet/edit_company_cabinet?parent_id=' + parent_id,
    success:
      function(request){
        $('#edit_company_cabinet').html(request);
      }
  });
}
-->
</script>
