<table style="width:100%;">
  <tr>
    <td style="text-align:left;"></td>
    <td style="text-align:right;">
      <input type="button" class="submit_large" onClick="ClickBackToMasterList();" value="マスタ一覧へ戻る" />
    </td>
  </tr>
</table>
<!-- 全キャビネットを表示 -->
<table style="width:100%;">
  <tr>
    <td style="width:100%;" colspan=2>
      <%= render :partial=>"all_company_cabinet" %>
    </td>
  </tr>
</table>
